<div class="container login">
  <form class="login__form">
    <div class="login__group">
      <h1 class="title">Вход</h1>
      {{> Input error="error" errorText="Неверный логин" typeInput="text" title="Логин" }}
      {{> Input typeInput="password" title="Пароль" }}
    </div>
    <div class="login__group">
      {{> Button title="Авторизоваться" type="primary" }}
      {{> Button title="Нет аккаунта?" type="text"}}
    </div>
  </form>
</div>