.button {
  cursor: pointer;
  font-weight: 500;
  width: 280px;
  outline: none;
  border: none;

  &_primary {
    background-color: $color-blue;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
  }

  &_text {
    color: $color-blue;
    font-size: 11px;
    background-color: transparent;
  }
}
