.userCard {
  &__avatar {
    position: relative;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      overflow: visible;
    }
  }

  &__avatarHidden {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.2s linear;

    .userCard__avatar:hover & {
      opacity: 1;
    }
  }

  &__name {
    font-size: 16px;
    text-align: center;
  }
}
