<main>
  <form class="container profile">
    <div class="profile__container">
      <div class="profile__userCard">
        <div class="profile__avatar">
          <img src={{avatar}} alt="аватар пользователя">
          <p class="profile__avatarHidden">Поменять
            аватар</p>
        </div>
        <p class="profile__name">{{name}}</p>
      </div>

      <div class="profile__data">
        <div class="profile__row">
          <p>Почта</p>
          {{> Input name="email" type="text" }}
        </div>
        <div class="profile__row">
          <p>Логин</p>
          {{> Input name="login" type="text" }}
        </div>
        <div class="profile__row">
          <p>Имя</p>
          {{> Input name="first_name" type="text" }}
        </div>
        <div class="profile__row">
          <p>Фамилия</p>
          {{> Input name="second_name" type="text" }}
        </div>
        <div class="profile__row">
          <p>Имя в чате</p>
          {{> Input name="display_name" type="text" }}
        </div>
        <div class="profile__row">
          <p>Телефон</p>
          {{> Input name="phone" type="text" }}
        </div>
      </div>

      <div class="profile__row">
        {{> Button title="Изменить данные" buttonStyle="text"}}
      </div>
      <div class="profile__row">
        {{> Button title="Изменить пароль" buttonStyle="text"}}
      </div>
      <div class="profile__row">
        {{> Button class="profile__exitBtn" title="Выйти" buttonStyle="text"}}
      </div>
    </div>

    <button class="profile__backBtn"></button>
  </form>
</main>