.profile {
  &__container {
    display: flex;
    flex-direction: column;
    min-width: 510px;
  }

  &__data {
    margin: 50px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-light-grey;
    }

    .inputLabel {
      margin: 0;
    }

    .input {
      border: none;
      padding: 0;
      text-align: right;
      color: $color-grey;
    }

    .button {
      text-align: left;
    }
  }

  &__backBtn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('../../assets/arrowBtn.svg');
    transform: scale(-1, 1);
  }

  &__exitBtn {
    color: $color-error;
  }
}
