$color-blue: rgba(51, 105, 243, 1);
$color-grey: rgba(153, 153, 153, 1);
$color-error: rgba(255, 47, 47, 1);
$color-grey: rgba(153, 153, 153, 1);
$color-black: rgba(30, 30, 30, 1);
$color-white: #fff;
$color-light-grey: rgba(239, 239, 239, 1);
