<form class="container profile">
  <div class="profile__container">
    <div class="profile__userCard">
      <div class="profile__avatar">
        <img src={{avatar}} alt="аватар пользователя">
        <p class="profile__avatarHidden">Поменять
          аватар</p>
      </div>
      <p class="profile__name">{{name}}</p>
    </div>

    <div class="profile__data">
      <div class="profile__row">
        <p>Почта</p>
        {{> Input typeInput="text" }}
      </div>
      <div class="profile__row">
        <p>Логин</p>
        {{> Input typeInput="text" }}
      </div>
      <div class="profile__row">
        <p>Имя</p>
        {{> Input typeInput="text" }}
      </div>
      <div class="profile__row">
        <p>Имя</p>
        {{> Input typeInput="text" }}
      </div>
      <div class="profile__row">
        <p>Имя в чате</p>
        {{> Input typeInput="text" }}
      </div>
      <div class="profile__row">
        <p>Телефон</p>
        {{> Input typeInput="text" }}
      </div>
    </div>


    {{> Button class="profile__saveBtn" title="Сохранить" type="primary"}}

  </div>

  {{#if showModalAddNewAvtar}}
    {{> AddNewAvatarModal status="Загрузите файл" }}
  {{/if}}

  <button class="profile__backBtn"></button>
</form>