<main class="container login signin">
  <form class="login__form">
    <div class="login__group">
      <h1 class="title">Регистрация</h1>
      {{> Input name="email" type="text" title="Почта" }}
      {{> Input name="login" type="text" title="Логин" }}
      {{> Input name="first_name" type="text" title="Имя" }}
      {{> Input name="second_name" type="text" title="Фамилия" }}
      {{> Input name="phone" type="text" title="Телефон" }}
      {{> Input name="password" error="error" type="password" title="Пароль" }}
      {{> Input name="password" error="error" errorText="Пароли не совпадают" type="password" title="Пароль (ещё раз)" }}
    </div>
    <div class="login__group">
      {{> Button type="submit" title="Зарегистрироваться" buttonStyle="primary" }}
      {{> Button title="Нет аккаунта?" buttonStyle="text"}}
    </div>
  </form>
</main>