<div class="modal-container">
  <div class="modal">
    <h2 class="title">{{title}}</h2>
    <div class="modal__body">
      {{> @partial-block }}
    </div>
    <div class="modal__footer">
      {{> Button title=labelOk buttonStyle="primary" }}
      {{#if labelCancel}}
      {{> Button class="modal__cancelBtn" title=labelCancel buttonStyle="text"}}
      {{/if}}
    </div>
  </div>
</div>