.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal {
  background-color: white;
  border-radius: 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
  padding: 30px 40px;
}

.modal__body {
  margin: 40px 0 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__cancelBtn {
  color: $color-error;
}
