.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal {
  background-color: white;
  border-radius: 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
  padding: 30px 40px;
}

.modal__body {
  margin: 40px 0 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__cancelBtn {
  color: $color-error;
}

.modal__closeBtn {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  right: 8px;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: $color-blue;
    transform-origin: center;
    transition: all 0.2s linear;
  }

  &:hover {
    &::before,
    &::after {
      background-color: $color-error;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
