.user {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 10px;

  &_active,
  &:hover {
    background-color: rgba(228, 237, 253, 1);
  }

  &__avatar {
    width: 47px;
    height: 47px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__description {
    min-width: 60%;
    margin-right: 15px;
  }

  &__name {
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__lastMessage {
    color: $color-grey;
    font-size: 12px;
  }

  &__userMessage {
    color: $color-black;
  }

  &__infoBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    color: $color-grey;
  }

  &__countMessage{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 13px;
    background-color: $color-blue;
    color: $color-white;
  }
}
