.chats {
  display: grid;
  grid-template-columns: 25% 75%;

  &__bar {
    padding: 20px 10px 0;
    border-right: 1px solid $color-light-grey;
  }

  &__profileLink {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin-left: auto;
    color: $color-grey;
    margin-bottom: 23px;
    padding-right: 12px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: right center;
    background-image: url('../../assets/arrow.svg');
  }

  &__search {
    width: 100%;
    background-color: $color-light-grey;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 14px;
    background-size: 20px 20px;
    background-position: 102px center;
    background-repeat: no-repeat;
    background-image: url('../../assets/search.svg');

    &:focus {
      text-align: left;
      background-position: 10px center;
      padding: 10px 10px 10px 34px;
    }
  }

  &__list {
    margin: 0 -10px;
    overflow-y: auto;
    max-height: 87vh;
  }

  &__item {
    padding: 2px 0;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    margin-top: -1px;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: $color-grey;
  }

  &__notEmpty {
    margin: 0 20px;
  }

  &__currentUser {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $color-light-grey;
  }

  &__currentUserAvatar {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }

  &__currentUserBtns {
    display: flex;
    margin-left: auto;
    gap: 5px;
  }

  &__addUserBtn,
  &__removeUserBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    border: 1px solid $color-black;
    border-radius: 50%;
    background-color: transparent;
  }

  &__history {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  &__messageTime {
    text-align: center;
    color: $color-grey;
    margin: 40px auto;
  }

  &__message {
    position: relative;
    max-width: 40%;
    width: fit-content;
    line-height: 1.25;
    margin-bottom: 20px;

    p:not(:first-child) {
      margin-top: 20px;
    }

    &_owner {
      margin-left: auto;
      background-color: rgba(228, 237, 253, 1);
      padding: 11px 60px 11px 11px;
      border-radius: 16px;
    }

    &_ownerCheck {
      color: $color-grey;
    }
  }

  &__senderMessageTime {
    width: fit-content;
    color: $color-grey;
    position: absolute;
    right: 11px;
    bottom: -15px;
  }

  &__ownerMessageTime {
    display: flex;
    gap: 4px;
    width: fit-content;
    color: $color-blue;
    position: absolute;
    right: 11px;
    bottom: 11px;
  }

  &__messagePhoto {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 20px;
  }

  &__messageForm {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 95% 1fr;
    align-items: center;
    gap: 10px;
  }

  &__messageArea {
    border-radius: 30px;
    background-color: rgba(239, 239, 239, 1);
    padding: 10px 20px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    height: auto;
    min-height: 40px;
    max-height: 40px;
    margin: 0;

    .input {
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }

  &__messageBtn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('../../assets/arrowBtn.svg');
    border: none;
    background-color: transparent;
  }
}
