{{#> Modal labelOk="Поменять" labelCancel="Нужно выбрать файл" title=status }}
  <div class="addNewAvatarModal__body">
    {{> Button title="Выбрать файл на компьютере" type="text"}}
  </div>
{{/ Modal}}