{{#> Modal labelOk="Поменять" labelCancel="Нужно выбрать файл" title=status }}
  <div class="addNewAvatarModal__body">
    {{> Input name="avatar" type="file" title="Выбрать файл на компьютере"}}
  </div>
{{/ Modal}}