<main>
  <nav class="container nav">
    <ul class="nav__list">
      <li><a href="#" page="login">Login</a></li>
      <li><a href="#" page="signin">Signin</a></li>
      <li><a href="#" page="error500">Error500</a></li>
      <li><a href="#" page="error404">Error404</a></li>
      <li><a href="#" page="chats">Chats</a></li>
      <li><a href="#" page="profile">Profile</a></li>
      <li><a href="#" page="profileEdit">ProfileEdit</a></li>
      <li><a href="#" page="profileEditPassword">ProfileEditPassword</a></li>
    </ul>
  </nav>
</main>